In [2]:
import pandas as pd
import numpy as np

In [3]:
last_column_2015 = 158*[2015]
last_column_2016 = 158*[2016]
last_column_2017 = 158*[2017]
last_column_2018 = 158*[2018]
last_column_2019 = 158*[2019]
df_Years_2015 = pd.DataFrame({'Year': last_column_2015})
df_Years_2016 = pd.DataFrame({'Year': last_column_2015})
df_Years_2017 = pd.DataFrame({'Year': last_column_2017})
df_Years_2018= pd.DataFrame({'Year': last_column_2018})
df_Years_2019 = pd.DataFrame({'Year': last_column_2019})

In [4]:
print(df_Years_2015)

     Year
0    2015
1    2015
2    2015
3    2015
4    2015
..    ...
153  2015
154  2015
155  2015
156  2015
157  2015

[158 rows x 1 columns]

In [40]:
df_happinies_2015 = pd.read_csv('2015.csv')
df_happinies_2016 = pd.read_csv('2016.csv')
df_happinies_2017 = pd.read_csv('2017.csv')
df_happinies_2018 = pd.read_csv('2018.csv')
df_happinies_2019 = pd.read_csv('2019.csv')
df_Integrated_Happiness_Data = pd.read_csv('Integrated_Happiness_Data.csv')
df_250_Country_Data = pd.read_csv('250 Country Data.csv')

In [6]:
df_happinies_2015_WithLastColumn=pd.concat([df_happinies_2015, df_Years_2015],axis=1)

In [7]:
df_happinies_2016_WithLastColumn=pd.concat([df_happinies_2016, df_Years_2016],axis=1)

In [8]:
df_happinies_2017_WithLastColumn=pd.concat([df_happinies_2017, df_Years_2017],axis=1)

In [9]:
df_happinies_2018_WithLastColumn =pd.concat([df_happinies_2018, df_Years_2018],axis=1)

In [10]:
df_happinies_2019_WithLastColumn=pd.concat([df_happinies_2019, df_Years_2019],axis=1)

In [31]:
df = pd.concat([(pd.concat([(pd.concat([(pd.concat([df_happinies_2015_WithLastColumn, df_happinies_2016_WithLastColumn], axis=0)),
                                   df_happinies_2017_WithLastColumn], axis = 0)),
           df_happinies_2018_WithLastColumn], axis = 0)),df_happinies_2019_WithLastColumn], axis = 0)
##df.to_csv(index=False)
#df = pd.concat([df_happinies_2015_WithLastColumn, df_happinies_2016_WithLastColumn], axis=0)
#print(df["Unnamed: 0"])


df.drop(columns=["Unnamed: 0"],inplace = True)
#df.to_csv("hi.csv")

#print(df)

In [33]:
df.sort_values(by=['Happiness Rank'], inplace = True)
print(df.iloc[:,2:])

     Happiness Rank  Happiness Score  ...  Cluster  Year
0                 1            7.587  ...        2  2015
0                 1            7.587  ...        2  2017
0                 1            7.587  ...        2  2015
0                 1            7.587  ...        2  2019
0                 1            7.587  ...        2  2018
..              ...              ...  ...      ...   ...
157             158            2.839  ...        0  2018
157             158            2.839  ...        0  2015
157             158            2.839  ...        0  2015
157             158            2.839  ...        0  2017
157             158            2.839  ...        0  2019

[790 rows x 12 columns]

In [35]:
df.to_csv("Integrated_Happiness_Data.csv")

In [53]:
Inegrated_data = pd.merge(df_Integrated_Happiness_Data, df_250_Country_Data,left_on="Country", right_on="name", how='left')
Inegrated_data.drop(columns=["Unnamed: 0_x"],inplace = True)
Inegrated_data.drop(columns=["Unnamed: 0_y"],inplace = True)
Inegrated_data.drop(columns=["Unnamed: 0.1"],inplace = True)
Inegrated_data.to_csv("Integrated_Happiness_Country_Data.csv")

In [54]:
print(Inegrated_data)

         Country              Region  ...  population     area
0    Switzerland      Western Europe  ...   8341600.0  41284.0
1    Switzerland      Western Europe  ...   8341600.0  41284.0
2    Switzerland      Western Europe  ...   8341600.0  41284.0
3    Switzerland      Western Europe  ...   8341600.0  41284.0
4    Switzerland      Western Europe  ...   8341600.0  41284.0
..           ...                 ...  ...         ...      ...
785         Togo  Sub-Saharan Africa  ...   7143000.0  56785.0
786         Togo  Sub-Saharan Africa  ...   7143000.0  56785.0
787         Togo  Sub-Saharan Africa  ...   7143000.0  56785.0
788         Togo  Sub-Saharan Africa  ...   7143000.0  56785.0
789         Togo  Sub-Saharan Africa  ...   7143000.0  56785.0

[790 rows x 19 columns]